<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Github Data Analysis</title>
	<!-- js lib-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- css -->
	<link rel = "stylesheet" href = "stylesheets/style.css">
</head>

<body>
<div id='users_view'>
	<div id='select_year'>

	</div>
	<div id='newUsers'>

	</div>
	<div id="everyUsers">

	</div>
</div>
    <!--script src="javascripts/newUsers.js"></script-->
		<script type="text/javascript" src="javascripts/tenures.js">

		</script>

</body>
