body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#newUsers{
  position: absolute;
  left: 10px;
  top: 10px;
  width:600px;
  height: 400px;
}

#everyUsers{
  position: absolute;
  left: 710px;
  top:10px;
  width: 600px;
  height:400px;
}
